<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Dashboard Admin: <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>
    

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVilles"
            aria-expanded="true" aria-controls="collapseVilles">
            <i class="fas fa-fw fa-folder"></i>
            <span>villes</span>
        </a>
        <div id="collapseVilles" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom villes:</h6>
                <a class="collapse-item" href="utilities-color.html"  routerLink="/home/listville">liste villes</a>
                <a class="collapse-item" href="utilities-border.html" routerLink="/home/ajoutV" >ajout villes</a>
               
        </div>
    </div>

    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEntreprises"
            aria-expanded="true" aria-controls="collapseEntreprises">
            <i class="fas fa-fw fa-folder"></i>
            <span>entreprises</span>
        </a>
        <div id="collapseEntreprises" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom entreprise:</h6>
                <a class="collapse-item" href="utilities-color.html"  routerLink="/home/listentreprises">liste entreprise</a>
                <a class="collapse-item" href="utilities-border.html" >ajout entreprise</a>
               
        </div>
    </div>

    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCondidats"
            aria-expanded="true" aria-controls="collapseCondidats">
            <i class="fas fa-fw fa-folder"></i>
            <span>condidats:</span>
        </a>
        <div id="collapseCondidats" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom condidats:</h6>
                <a class="collapse-item" routerLink="/home/listcondidat">liste condidats:</a>
                <a class="collapse-item" href="cards.html" >liste condidats confirmed:</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOffres"
            aria-expanded="true" aria-controls="collapseOffres">
            <i class="fas fa-fw fa-folder"></i>
            <span>offres</span>
        </a>
        <div id="collapseOffres" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom offres:</h6>
                <a class="collapse-item" routerLink="/home/listO">liste offres:</a>
                <a class="collapse-item" href="cards.html" >liste offres confirmed:</a>
            </div>
        </div>
    </li>

  

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories"
            aria-expanded="true" aria-controls="collapseCategories">
            <i class="fas fa-fw fa-folder"></i>
            <span>categories</span>
        </a>
        <div id="collapseCategories" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom category:</h6>
                <a class="collapse-item" href="login.html" routerLink="/home/listcategory">liste category</a>
                <a class="collapse-item" href="register.html" routerLink="/home/ajoutC">ajout category</a>
            
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSkills"
            aria-expanded="true" aria-controls="collapseSkills">
            <i class="fas fa-fw fa-folder"></i>
            <span>skils</span>
        </a>
        <div id="collapseSkills" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom skils:</h6>
                <a class="collapse-item" href="login.html" routerLink="/home/listeskils">liste skils</a>
                <a class="collapse-item" href="register.html"  routerLink="/home/ajoutS" >ajout sklis</a>
            
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin"
            aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-folder"></i>
            <span>admin</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom admin: ajout en tant </h6>
                <a class="collapse-item" href="login.html" routerLink="/home/listeskils">liste administrateurs</a>
                <a class="collapse-item" href="register.html"  routerLink="/home/ajoutS" >ajout administrateur</a>
            
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>